{% extends "base.html" %}
{% load navigation_tags wagtailimages_tags %}

{% block content %}

    <!-- {% image self.image fill-1920x600 as hero_img %} -->
        <!-- {% include "base/include/header-hero.html" %} -->

        <!--================================
        =            Events Posts            =
        =================================-->

        <section class="events section">
        	<div class="container">
        		<div class="row mt-30">
        			<div class="col-lg-8 col-md-10 mx-auto">
        				<div class="block">
        					<!-- Article -->
        					<article class="blog-post single">
        						<div class="post-thumb">
                      {% image page.image fill-1188x1680-c0 as image %}
                       <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt }}" class="img-fluid" />
        						</div>
        						<div class="post-content">
        							<div class="date">
        								<h4>{{ page.event_date|date:"d" }}<span>{{ page.event_date|date:"N" }}</span></h4>
        							</div>
        							<div class="post-title">
        								<h3>{{ page.title }}</h3>
        							</div>
                      <div class="post-meta">
          								<ul class="list-inline">
          									<li class="list-inline-item">
          										<i class="fa fa-clock-o"></i>
          										<a>{{page.event_time}}</a>
          									</li>
          									<li class="list-inline-item">
          										<i class="fa fa-map-marker"></i>
          										<a>{{page.introduction}}</a>
          									</li>
          								</ul>
          						</div>
        							<div class="post-details">
                        {{ page.body }}
        								<div class="share-block">
        									<div class="tag">
                            {% if page.get_tags %}
        										<p>
        											Теги:
        										</p>
                            <ul class="list-inline">
                                {% for tag in page.get_tags  %}
                                <li class="list-inline-item">
                                    <a href="{{ tag.url }}" class="btn btn-sm">{{ tag }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
        									</div>
        									<div class="share">
        										<p>
        											Поделиться:
        										</p>

        										<ul class="social-links-share list-inline">
        							        <li class="list-inline-item">
        							          <a href="javascript:void(0);" onclick="Share.facebook('https://moygdk.ru{{ request.get_full_path }}','{{ page.title }}, {{ page.event_date|date:"d" }} {{ page.event_date|date:"N" }} в {{page.event_time}}, {{page.introduction}}, г. Партизанск','IMG_PATH','DESC'); return true;"><i class="fa fa-facebook"></i></a>
        							        </li>
        							        <li class="list-inline-item">
        							          <a href="javascript:void(0);" onclick="Share.vkontakte('https://moygdk.ru{{ request.get_full_path }}','{{ page.title }}, {{ page.event_date|date:"d" }} {{ page.event_date|date:"N" }} в {{page.event_time}}, {{page.introduction}}, г. Партизанск','IMG_PATH','DESC'); return true;"><i class="fa fa-vk"></i></a>
        							        </li>
        							        <li class="list-inline-item">
        							          <a href="javascript:void(0);" onclick="Share.twitter('https://moygdk.ru{{ request.get_full_path }}','{{ page.title }}, {{ page.event_date|date:"d" }} {{ page.event_date|date:"N" }} в {{page.event_time}}, {{page.introduction}}, г. Партизанск','IMG_PATH','DESC'); return true;"><i class="fa fa-twitter"></i></a>
        							        </li>
        							        <li class="list-inline-item">
        							          <a href="javascript:void(0);" onclick="Share.odnoklassniki('https://moygdk.ru{{ request.get_full_path }}','{{ page.title }}, {{ page.event_date|date:"d" }} {{ page.event_date|date:"N" }} в {{page.event_time}}, {{page.introduction}}, г. Партизанск','IMG_PATH','DESC'); return true;"><i class="fa fa-odnoklassniki"></i></a>
        							        </li>
        							      </ul>
        									</div>
        								</div>
        							</div>
        						</div>
        					</article>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>

       <script>
        Share = {
       	vkontakte: function(purl, ptitle, pimg, text) {
       		url  = 'http://vkontakte.ru/share.php?';
       		url += 'url='          + encodeURIComponent(purl);
       		url += '&title='       + encodeURIComponent(ptitle);
       		url += '&description=' + encodeURIComponent(text);
       		url += '&image='       + encodeURIComponent(pimg);
       		url += '&noparse=true';
       		Share.popup(url);
       	},
       	odnoklassniki: function(purl, title) {
       		url  = 'https://connect.ok.ru/offer';
       		url += '?url='    + encodeURIComponent(purl);
         url += '&title='  + encodeURIComponent(title);
       		Share.popup(url);
       	},
       	facebook: function(purl, ptitle, pimg, text) {
       		url  = 'http://www.facebook.com/sharer.php?s=100';
       		url += '&p[title]='     + encodeURIComponent(ptitle);
       		url += '&p[summary]='   + encodeURIComponent(text);
       		url += '&p[url]='       + encodeURIComponent(purl);
       		url += '&p[images][0]=' + encodeURIComponent(pimg);
       		Share.popup(url);
       	},
       	twitter: function(purl, ptitle) {
       		url  = 'http://twitter.com/share?';
       		url += 'text='      + encodeURIComponent(ptitle);
       		url += '&url='      + encodeURIComponent(purl);
       		url += '&counturl=' + encodeURIComponent(purl);
       		Share.popup(url);
       	},
       	mailru: function(purl, ptitle, pimg, text) {
       		url  = 'http://connect.mail.ru/share?';
       		url += 'url='          + encodeURIComponent(purl);
       		url += '&title='       + encodeURIComponent(ptitle);
       		url += '&description=' + encodeURIComponent(text);
       		url += '&imageurl='    + encodeURIComponent(pimg);
       		Share.popup(url)
       	},

       	popup: function(url) {
       		window.open(url,'','toolbar=0,status=0,width=626,height=436');
       	}
       };

       </script>
        <!--====  End of Events Posts  ====-->
{% endblock content %}
