{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}
    {% include "base/include/header-index.html" %}

    <!--================================
    =            News Posts            =
    =================================-->

    <section class="news section">
    	<div class="container">
    		<div class="row mt-30">
    			<div class="col-lg-4 col-md-10 mx-auto">
    				<div class="sidebar">
    					<!-- Search Widget -->
    					<div class="widget search p-0">
    						<div class="input-group">
    						    <input type="text" class="form-control main m-0" id="expire" placeholder="Поиск...">
    						    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    					    </div>
    					</div>
    					<!-- Category Widget -->
              {% if page.get_child_tags %}
    					<div class="widget category">
    						<!-- Widget Header -->
    						<h5 class="widget-header">Категории</h5>
    						<ul class="category-list m-0 p-0">
                  {% for tag in page.get_child_tags %}
    							<li><a href="{{ tag.url }}">{{ tag }}</a></li>
    							{% endfor %}
    						</ul>
    					</div>
              {% endif %}
    				</div>
    			</div>
    			<div class="col-lg-8 col-md-10 mx-auto">
    				<div class="block">
    					<div class="row">
                {% if posts %}
                    {% for blog in posts %}
    						<div class="col-md-6 m-md-auto col-sm-8 col-10 m-auto">
    							<div class="blog-post">
    								<div class="post-thumb">
                      {% image blog.image fill-850x450-c50 as image %}
    									<a href="{% pageurl blog %}">
                        {% image event.image fill-370x235-c0 as image %}
                         <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt }}" class="img-fluid" />
    									</a>
    								</div>
    								<div class="post-content">
    									<div class="post-title">
    										<h2><a href="{% pageurl blog %}">{{ blog.title }}</a></h2>
    									</div>
    									<div class="post-meta">
                        {% if blog.date_published %}
                            {{ blog.date_published }}
                        {% endif %}
                        {% for author in blog.authors %}
                            {{ author }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
    									</div>
    								</div>
    							</div>
    						</div>
                  {% endfor %}
    					</div>
            {% else %}
              <div class="col-md-12">
                  <p>Упс... Мы слишком заняты, чтобы написать хоть одну новость</p>
              </div>
          {% endif %}
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    <!--====  End of News Posts  ====-->
{% endblock content %}
