{% load wagtailcore_tags navigation_tags wagtailimages_tags %}
{% load static %}
    <!--================================
    =            News Posts            =
    =================================-->
<style>
.logo75 {
  display: table;
  margin: 0 auto;
  /* border: 1px solid black; */
}
</style>
    <section class="news section">

    	<div class="container">
        <section class="section about">
        	<div class="container">
        		<div class="row">

        			<div class="col-lg-4 col-md-6 align-self-center">
        				<div class="image-block two bg-about">
        					<figure><img alt="www.jpg" height="280" src="/media/images/www.2e16d0ba.fill-350x280-c100.jpg" width="350"></figure>
        				</div>
        			</div>
        			<div class="col-lg-8 col-md-6 align-self-center">
        				<div class="content-block">
        					<h2>Викторина о ВОВ</h2>
        					<div class="description-one">
        						<p>
        							<h4><em>Уважаемые гости!</em></h4>
      <p><em>Предлагаем Вам ответить на вопросы викторины, посвященной празднованию 75-летия Победы</em>
      <em> в Великой Отечественной войне 1941-1945 гг.</em></p>
      <p><em>Познавательные вопросы будут интересны всем, кто интересуется историей.</em></p>
      <h3><a class="btn-lg btn-danger btn-block" id="95" linktype="page"  href="{% url 'anketa' %}"><em>ПРОЙТИ ОПРОС</em></a></h3>

        						</p>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>

    		<div class="row mt-30">
    			<div class="col-lg-8 col-md-10 mx-auto">
    				<div class="block">
    					<div class="row">
                {% if posts %}
                    {% for blog in posts %}
    						<div class="col-md-6 m-md-auto col-sm-8 col-10 m-auto">
    							<div class="blog-post">
    								<div class="post-thumb">
                      {% image blog.image fill-350x350-c50 as image %}
    									<a href="{% pageurl blog %}">
                        {% image blog.image fill-350x350-c0 as image %}
                         <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt }}" class="img-fluid" />
    									</a>
    								</div>
    								<div class="post-content">
    									<div class="post-title ">
    										<h2><a href="{% pageurl blog %}">{{ blog.title }}</a></h2>
    									</div>
    									<div class="post-meta">
                        {% if blog.date_published %}
                            {{ blog.date_published }}
                        {% endif %}
                        <!-- {% for author in blog.authors %}
                            {{ author }}{% if not forloop.last %}, {% endif %}
                        {% endfor %} -->
    									</div>
    								</div>
    							</div>
    						</div>
                  {% endfor %}
    					</div>
            {% else %}
              <div class="col-md-12">
                  <p>Упс... Мы слишком заняты, чтобы написать хоть одну новость</p>
              </div>
          {% endif %}
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    <!--====  End of News Posts  ====-->
