{% extends "base.html" %}
{% load wagtailimages_tags wagtailsimplegallery_tags %}
{% include "base/include/header.html" %}
{% block content %}
<section class="section single-speaker">
	<div class="container">
		<div class="block">
			<div class="row">
				{% if page.image %}
				<div class="col-lg-5 col-md-6">
          {% image page.image fill-457x480-c0 as image %}
					<div class="image-block">
            <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt }}" class="img-fluid" alt="speaker"/>
					</div>
				</div>

				<div class="col-lg-12 col-md-6">
					<div class="content-block">
						<div class="name">
							<h3>{{page.title}}</h3>
						</div>
						<div class="profession">
							<p>{{page.subtitle}}</p>
						</div>
						<div class="details">
							<p>{{page.body}}</p>
						</div>
						<!-- <div class="social-profiles">
							<h5>В соцсетях:</h5>
							<ul class="list-inline social-list">
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-vk"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-odnoklassniki"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-pinterest-p"></i></a>
								</li>
							</ul>
						</div> -->
					</div>
				</div>

       {% else %}

			 <div class="col align-self-center">
				 <div class="content-block">
					 <div class="name">
						 <h3>{{page.title}}</h3>
					 </div>
					 <div class="profession">
						 <p>{{page.subtitle}}</p>
					 </div>
					 <div class="details">
						 <p>{{page.body}}</p>
					 </div>
					 <!-- <div class="social-profiles">
						 <h5>В соцсетях:</h5>
						 <ul class="list-inline social-list">
							 <li class="list-inline-item">
								 <a href="#"><i class="fa fa-vk"></i></a>
							 </li>
							 <li class="list-inline-item">
								 <a href="#"><i class="fa fa-odnoklassniki"></i></a>
							 </li>
							 <li class="list-inline-item">
								 <a href="#"><i class="fa fa-facebook"></i></a>
							 </li>
							 <li class="list-inline-item">
								 <a href="#"><i class="fa fa-instagram"></i></a>
							 </li>
							 <li class="list-inline-item">
								 <a href="#"><i class="fa fa-pinterest-p"></i></a>
							 </li>
						 </ul>
					 </div> -->
				 </div>
			 </div>
       {% endif %}
			</div>
		</div>
	</div>
</section>
{% endblock content %}
