{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags wagtailcore_tags %}
{% load wagtailsimplegallery_tags %}

{% block content %}
<div class="homepage">

  <!--============================
  =            Banner            =
  =============================-->
  {% image page.image fill-1920x600 as image %}
  <section class="banner bg-banner-one overlay" style="background-image:url('{{ image.url }}')">
  	<div class="container-fluid">
  		<div class="row">
  			<div class="col-lg-12">
  				<!-- Content Block -->
  				<div class="container" >
  					<!-- Coundown Timer -->
  					<!-- <div class="timer"></div> -->
  					<!-- <h1 style="color:#ff6600;">{{ page.title }}</h1>
  					<h4 style="color:#ff6600;">{{ page.hero_text }}</h4> -->
  				</div>
  			</div>
  		</div>
  	</div>
  </section>

  <!--====  End of Banner  ====-->

  <!--===========================
  =            About            =
  ============================-->

  <section class="section-about">
  	<div class="container">
  		<div class="row">
        {% if page.promo_image or page.promo_title or page.promo_text %}
  			<div class="col-lg-4 col-md-6 align-self-center">
  				<div class="image-block two bg-about">
  					<figure>{% image page.promo_image fill-350x280-c100 %}</figure>
  				</div>
  			</div>
  			<div class="align-self-center" style="margin: 0 auto;">
  				<div class="content-block">
            <h2>{{ page.promo_title }}</h2>
<!--            <div class="iframecontent">
              <iframe  class="resp-iframe" src="https://www.youtube.com/embed/sctsJwvkm_o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>-->
  					<div class="description-one">
         					{{ page.promo_text|safe }}
  					</div>
  				</div>
  			</div>
        {% endif %}
  		</div>
  	</div>
  </section>
  <!--====  End of About  ====-->
  <!--==========================
  =          Feature 4  Pobeda75 News    =
  ===========================-->
  <section class="section-news">
    {% if page.featured_section_3 %}
  	<div class="container">
  		<div class="row">
  			<div class="col-12">
  				<div class="section-title">
            <a href="/75-летие-победы/"><h3><span class="alternate">75-летие Победы!</span></h3></a>
  					<p>Новости, посвященные празднованию 75-летия Победы</p>
  				</div>
  			</div>
  		</div>
  		<div class="row">
        {% for childpage in page.featured_section_4.specific.children|dictsortreversed:"date_published"|slice:"3" %}
  			<div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
  				<div class="blog-post">
  					<div class="post-thumb">
              <a href="{{childpage.url}}">
                {% image childpage.image fill-350x250-c100 %}
  						 <!-- <img src="{{ childpage.image.url }}" width="{{ childpage.image.width }}" height="{{ childpage.image.height }}" alt="{{ childpage.image.alt }}" class="img-fluid" /> -->
  						</a>
  					</div>
  					<div class="post-content">
  						<div class="post-title">
  							<h2><a href="{{childpage.url}}">{{childpage.title}}</a></h2>
  						</div>
  						<!-- <div class="post-meta">
  							<ul class="list-inline">
  								<li class="list-inline-item">
  									<i class="fa fa-user-o"></i>
  									{% for author in childpage.authors %}
                      {{ author }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
  								</li>
  							</ul>
  						</div> -->
  					</div>
  				</div>
  			</div>
        {% endfor %}
  		</div>
  	</div>
    {% endif %}
  </section>
  <!--====  Feature 4 - Pobeda75 News  ====-->

  <!--===========================
  =            About            =
  ============================-->

  <!-- <section class="section about">
  	<div class="container">
  		<div class="row">
        {% if page.promo_image or page.promo_title or page.promo_text %}
  			<div class="col-lg-4 col-md-6 align-self-center">
  				<div class="image-block two bg-about">
  					<figure>{% image page.promo_image fill-350x280-c100 %}</figure>
  				</div>
  			</div>
  			<div class="col-lg-8 col-md-6 align-self-center">
  				<div class="content-block">
  					<h2>{{ page.promo_title }}</h2>
  					<div class="description-one">
  						<p>
  							{{ page.promo_text|safe }}
  						</p>
  					</div>
  				</div>
  			</div>
        {% endif %}
  		</div>
  	</div>
  </section> -->

  <!--====  End of About  ====-->
{% if page.body %}
<div class="container-fluid streamfield">
    <div class="container">
        <div class="row">
            <div class="col-md-7 streamfield-column">
                {{ page.body }}
            </div>
        </div>
    </div>
</div>
{% endif %}
<!--==============================
=            Events            =
===============================-->
{% if page.featured_section_2 %}
<section class="section speakers section-events bg-speaker overlay-lighter">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Section Title -->
				<div class="section-title white">
					<a href="{% slugurl 'afisha' %}"><h3>Афиша</h3></a>
					<a href="{% slugurl 'afisha' %}"><p>Ближайшие мероприятия</p></a>
				</div>
			</div>
		</div>
		<div class="row">
      {% for childpage in page.featured_section_2.specific.children.reverse|dictsort:"event_date" %}
        {% if childpage.event_date >= nowtime %}
			    <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
			    	<div class="speaker-item">
			    		<div class="image">
                <a href="{{childpage.url}}">
                    <figure>
                        {% image childpage.image fill-250x250-c0 %}
                    </figure>
                </a>
			    			<div class="primary-overlay"></div>
			    			<div class="socials">
                    <p class="list-inline-item"><a href="{{childpage.url}}">{{childpage.subtitle}}
                      {{childpage.event_date}} {{childpage.event_time}} {{ childpage.introduction|truncatewords:15 }}</a></p>
			    			</div>
			    		</div>
			    		<div class="content text-center">
			    			<h5><a href="{{childpage.url}}">{{childpage.event_date}}</a></h5>
			    		</div>
			    	</div>
			    </div>
        {% endif %}
      {% endfor %}
		</div>
	</div>
</section>
{% endif %}
<!--====  End of Events  ====-->
<!--=============================
=            Gallery            =
==============================-->
<section class="gallery-full section pb-0">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					  <a href="{% slugurl 'gallery' %}"><h3>Фотоотчёты <span class="alternate">Городского дворца культуры</span></h3></a>
					<p>Фотоотчёты о прошедших мероприятиях</p>
             {{ collection_contents }}
             {% simple_gallery collection=collection_contents image_limit=8 %}
          </section>
      	</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Gallery  ====-->
<!--==========================
=          Feature 3  News    =
===========================-->
<section class="news section">
  {% if page.featured_section_3 %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
          <a href="{% slugurl 'news' %}"><h3>Новости <span class="alternate">Городского Дворца культуры</span></h3></a>
					<p>Новости, статьи, обзоры и комментарии</p>
				</div>
			</div>
		</div>
		<div class="row">
      {% for childpage in page.featured_section_3.specific.children|dictsortreversed:"date_published"|slice:"3" %}
			<div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
            <a href="{{childpage.url}}">
              {% image childpage.image fill-350x250-c100 %}
						 <!-- <img src="{{ childpage.image.url }}" width="{{ childpage.image.width }}" height="{{ childpage.image.height }}" alt="{{ childpage.image.alt }}" class="img-fluid" /> -->
						</a>
					</div>
					<div class="post-content">
						<div class="post-title">
							<h2><a href="{{childpage.url}}">{{childpage.title}}</a></h2>
						</div>
						<!-- <div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
									<i class="fa fa-user-o"></i>
									{% for author in childpage.authors %}
                    {{ author }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
								</li>
							</ul>
						</div> -->
					</div>
				</div>
			</div>
      {% endfor %}
		</div>

	</div>
    {% endif %}
</section>
<!--====  Feature 3 - News  ====-->
<!--==============================================
=            Call to Action Subscribe            =
===============================================-->

<section class="cta-subscribe bg-subscribe overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mr-auto">
				<!-- Subscribe Content -->
				<div class="content">
					<h3>Подпишитесь на наши<span class="alternate">Новости</span></h3>
					<p>Оставайтесь в курсе предстоящих событий и последних новостей культуры</p>
				</div>
			</div>
			<div class="col-md-6 ml-auto align-self-center">
				<!-- Subscription form -->
				<form action="#" class="row">
					<div class="col-lg-8 col-md-12">
						<input type="email" class="form-control main white mb-lg-0" placeholder="Email">
					</div>
					<div class="col-lg-4 col-md-12">
						<div class="subscribe-button">
							<button class="btn btn-main-md">Подписаться!</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!--====  End of Call to Action Subscribe  ====-->
<!--================================
=            Yandex Map            =
=================================-->
<section class="map">
	<!-- Yandex Map -->
	<div id="map"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A584979d3fab4a6458ce41ffdd502cb92d870d8e4918041302321659afd84fb9f&amp;width=100%25&amp;height=552&amp;lang=ru_RU&amp;scroll=false"></script></div>
	<div class="address-block">
		<h4>МАУК Городской Дворец культуры</h4>
		<ul class="address-list p-0 m-0">
			<li><i class="fa fa-home"></i><span>ул. Ленинская, 26, <br>г. Партизанск, Приморский край.</span></li>
			<li><i class="fa fa-phone"></i><span>8(42363) 677-58</span></li>
      <li><i class="fa fa-whatsapp"></i><span>+7-914-335-0641</span></li>
		</ul>
	</div>
</section>
<!-- Yandex Mapl -->
<!--====  End of Yandex Map  ====-->
</div>
{% endblock content %}
