{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>

  <!-- SITE TITTLE -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="yandex-verification" content="b0cbd6205a5f130c" />
  <title>
      {% block title %}
          {% block title_prefix %}
              МАУК «Городской Дворец Культуры»
          {% endblock %}
          {% if self.seo_title %}
              {{ self.seo_title }}
          {% else %}
              {{ self.title }}
          {% endif %}
      {% endblock %}
  </title>

  <!-- PLUGINS CSS STYLE -->
  <!-- Bootstrap -->
  <link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >
  <!-- Themefisher Font -->
  <link href="{% static 'plugins/themefisher-font/style.css' %}" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="{% static 'plugins/font-awsome/css/font-awesome.min.css' %}" rel="stylesheet">
  <!-- Magnific Popup -->
  <link href="{% static 'plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
  <!-- Slick Carousel -->
  <link href="{% static 'plugins/slick/slick.css' %}" rel="stylesheet">
  <link href="{% static 'plugins/slick/slick-theme.css' %}" rel="stylesheet">
  <!-- CUSTOM CSS -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/simple-gallery.css' %}" rel="stylesheet">

  <!-- FAVICON -->
  <link href="images/favicon.png" rel="shortcut icon">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block head-extra %}
    {% endblock head-extra %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(52285507, "init", {
            id:52285507,
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/52285507" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>
